@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
<span>
    <p>
       Thanks for contacting us. We received your message and will contact you back soon.
    </p>
</span>