@{
    ViewBag.Title = "Developers";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div>
    Developer:<a>Ehsan Ghanbari</a>
</div>
<div>
    Graphical designer: <a>Ali Radmanfar</a> 
</div>
