@model Statos.Service.Contents.ContentViewModel

<a href="http://@Model.FaceBook" target="_blank">@Model.FaceBook</a>
<a href="http://@Model.GooglePlus" target="_blank">@Model.GooglePlus</a>
<a href="http://@Model.Twitter" target="_blank">@Model.Twitter</a>